.entity-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  align-content: flex-start;
}

.entity-item {
  // flex-grow: 1;
  margin: 50px;
}

.entity-card {
  max-width: 800px;
}

.json-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;

  .json-item {
    align-self: center;
    flex-grow: 2;
  }

  .json-out {
    flex-grow: 10 !important;
  }
}
