<div class="entity-container">
  <div class="entity-item">
    <mat-card class="entity-card">
        <mat-card-content>  
          <div>
            <app-entity-input-form (jsonOutput)="showJsonOutput($event)"></app-entity-input-form>
          </div>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="entity-item json-out">
    <mat-card class="entity-card" *ngIf="jsonOutput">
        <mat-card-title>Json output</mat-card-title>
        <mat-card-content>
          <div>
            <pre>{{jsonOutput}}</pre>
          </div>
        </mat-card-content>
    </mat-card>
  </div>
</div>