<div class="head-container">
  <div class="head-item">
    <strong>{{ entityResult.label }}: {{ entityResult.name }}</strong>
  </div>
  <!-- <div class="head-item">&nbsp;</div> -->
  <div class="head-item-btn">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>

<hr>
<h2>Entity Meta Field(s)</h2>
<!-- <hr> -->
<br><br>
<div class="fields-container">
    <div class="fields-item" *ngFor="let field of entityResult.field">

        <div [ngSwitch]="field.dataType">
          <mat-form-field *ngSwitchCase="'String'">
            <input matInput placeholder="{{field.label}}" [(ngModel)]="field.value" (change)="registerChange(field)">
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'lookup'">
            <input matInput placeholder="{{field.label}}" [(ngModel)]="field.value" (change)="registerChange(field)">
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'Decimal'">
              <input matInput placeholder="{{field.label}}" [(ngModel)]="field.value" (change)="registerChange(field)" type="number" class="right-align">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          <mat-form-field *ngSwitchCase="'Integer'">
              <input matInput placeholder="{{field.label}}" [(ngModel)]="field.value" (change)="registerChange(field)" type="number" class="right-align">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          <mat-form-field *ngSwitchCase="'Date'">
              <input matInput [matDatepicker]="picker" [value]="field.value" placeholder="{{field.label}}" (dateChange)="registerChangeDate('change', $event, field)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>
