.head-container {
  display: flex;

  .head-item {
    align-self: center;
    flex-grow: 1;
    width: 150px;
  }

  .head-item-btn {
    align-self: center;
    width: 150px;
  }
}

.fields-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  .fields-item {
    align-self: flex-start;
    width: 250px;
  }
}

.right-align {
  text-align: right;
  width: 200px;
}

mat-form-field {
  width: 185px;
}
